<h1>Bienvenue  </h1>
<img src="https://img.freepik.com/vecteurs-premium/icone-profil-personnes_24877-40756.jpg?w=1380"  width="300">
<ul style="align-items: center">
 <!-- <img [src]="info.photo" alt=""  >-->
  <li>Nom & prenom  : {{info.nom+" " + info.prenom }}</li>
  <li>Email : {{info.email}}</li>
</ul>
  <hr>
  <h2>Les commentaires ({{comments.length}})</h2>


<input  type="text" [(ngModel)] =comment (input)="activer()"  (keypress)="addComm2($event)" >

<button (click)="addComm()" [disabled] = disable>Ajouter Commentaire</button>
<hr>



  <span *ngIf="comments.length>0; else sinon" >


  <div *ngFor="let cm of comments ;let i =index">


    <p> <img src="./assets/images/delete.png" width="20" (click)="delete(i)">  {{cm.date +"  | " + cm.msg}}  </p>


  </div>

</span>
<ng-template #sinon>

  <h4>Liste des commentaires est vide</h4>

</ng-template>

